{% extends "admin/base_site.html" %}
{% load admin_urls i18n staticfiles %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo; <a href="{% url 'admin:app_list' app_label=model_meta.app_label %}">{{ model_meta.app_label|capfirst|escape }}</a>
    &rsaquo; {% if has_change_permission %}<a href="{% url model_meta|admin_urlname:'changelist' %}">{{ model_meta.verbose_name_plural|capfirst }}</a>{% else %}{{ model_meta.verbose_name_plural|capfirst }}{% endif %}
    &rsaquo; {% trans 'Batch Update' %}
  </div>
{% endblock %}

{% block content %}
  <h1>{% blocktrans count count=count with verbose_name=model_meta.verbose_name verbose_name_plural=model_meta.verbose_name_plural %}Update {{ count }} {{ verbose_name }}{% plural %}Batch update of {{ count }} {{ verbose_name_plural }}{% endblocktrans %}</h1>
  <div class="module">
    <form method="POST">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <table>
        <thead>
          <th>{% trans "Field" %}</th>
          <th>{% trans "Update" %}</th>
          <th>{% trans "New Value" %}</th>
        </thead>
        <tbody>
          {% for field in form %}
            <tr>
              <th>{{ field.label_tag }}</th>
              <td>
                {{ field.field.update_checkbox }}
              </td>
              <td>{{ field.errors }} {{ field }}</td>
            </tr>
          {% endfor %}
          <tr>
            <td></td>
            <td></td>
            <td>
              <input type="submit" value="{% blocktrans count count=count with verbose_name=model_meta.verbose_name verbose_name_plural=model_meta.verbose_name_plural %}Update this {{ verbose_name }}{% plural %}Update all {{ count }} {{ verbose_name_plural }}{% endblocktrans %}" />
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
{% endblock %}
